body {
    background-color: rgb(200, 162, 200);
    text-align: center;
}


.layout {
    background-color: rgb(181, 162, 200);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(181, 162, 200);
    border-image: initial;
    margin: 140px;
    padding: 40px;
}

.container {
    position: relative;
    width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90%;
  width: 90%;
  opacity: 0;
  transition: .5s ease;
  background-color: #C8A2B5;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

img {
  height: 100px;
  margin: 10px;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.left{
  text-align: left;
}


.TextWrap{
  float: left;
  align: top;
  margin: 10px
}
